//= require ./imports
//= require ./normalize
//= require ./solarized
//= require ./fonts

@import 'buttons'

body
  margin: 50px 0px 0px 0px
  padding: 0

h1, h2, h3
  margin: 0
  padding: 0

p
  margin-top: 0px
  padding: 0px

#wrapper
  overflow: hidden
  width: 800px
  margin: 0px auto
  box-shadow: 0px 0px 10px 5px rgba(0,0,0,.2)

#header 
  width: 800px
  height: 150px
  margin: 0 auto
  padding: 0px 0px

  h1
    padding: 47px 0px 0px 40px
    text-transform: uppercase

#page
  overflow: hidden
  width: 720px
  margin: 0px auto
  padding: 50px 40px

  h2
    padding: 0px 0px 20px 0px

#generator
  padding: 10px 20px 10px 20px
  width: 400px
  border-width: 4px
  border-style: outset
  margin: 0 auto
  text-align: center

  code
    font-weight: bold

#footer
  margin: 0px auto
  padding: 20px 40px

  h2
    margin: 0px
    padding: 0px 0px 10px 0px

#copyright
  height: 100px
  margin: 0 auto
  padding: 50px 0px 15px 0px

  p
    text-shadow: 1px 1px 0px #FFFFFF
    text-align: center

.button
  +button
  display: inline-block
  padding: 10px 30px
  border-radius: 5px
  font-weight: bold
